.container {
  margin-top: 30px;
}
.copy {
  background-color: #02d814e3;
  margin-top: 30px;
}
.home {
  background-color: #4e94f0f5;
}
.download {
  background-color: #e9370ae3;
  margin-top: 30px;
}
